[Desktop Entry]
Name=Fegeya CodeFad
Exec=codefad
Icon=/usr/share/pixmaps/codefad/codefad.png
Type=Application
Categories=GTK;GNOME;Code Editor;
Terminal=false
